html, body {
    background: #333;
    color: #FDFDFD;
}

section figure {
  background-position: 0 0;
  background-size: 100% 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

section figure img {
  margin: 0;
  padding: 0;
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

section:hover figure img {
  animation: pulse 2s ease-in-out infinite alternate;
}
